.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-info {
    margin-right: 20px; /* Add spacing between contact info and social links */
}

.contact-info p {
    margin-right:800px ;
   /* Adjust spacing between contact info items */
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.social-links a:hover {
    color: #ffcc00;
}

.text-center {
    text-align: center;
}
